.userSpaceCard {
    height: auto;
    border: 1px, solid rgb(222, 222, 219);
    box-shadow: dimgrey;
    background-color: rgb(245, 243, 234);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding: 20px;
    gap: 20px;
    color: rgb(56, 115, 96);

}