.header {

    padding: 20px;
    text-align: center;
    border-bottom: 1px solid #e0e0e0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    gap: 10px;

}